.nav-items2 {
  position: fixed;
  bottom: 70%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}

.navs {
  margin-top: 5%;
  z-index: 100;
  list-style: none;
  text-decoration: none;
  color: white;
}

#xBtn {
  margin-top: -5%;
  margin-left: 80%;
  position: fixed;
  top: 5%;
  cursor: pointer;
}

#theMenu {
  position: fixed;
  display: none;
  opacity: 90%;
  width: 105%;
  padding-left: 5%;
  height: 200%;
  background-color: #6070ff;
  padding-top: 5%;
  margin-left: -5%;
  z-index: 9;
}