.modalPty {
  background-color: #c1c7d0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  overflow: 0;
  padding: 16px;
  opacity: 1;
}

.cardPty {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 12px;
  opacity: 1;
}

.titlePty {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: '#172b4d';
}

.closeButtPty {
  color: #67798e;
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  top: 35px;
  right: 32px;
  cursor: pointer;
}

.positionsPty {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin: 12px 0;
}

.liPty {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin: 5px;
}

.btnAreaPty {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.liveBtnPty {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
